@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";

.overlay {
	background: #111;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.30;
}
