<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'application/head' %>
  </head>

  <body>
    <%= render partial: 'application/nav' %>
    <%= yield :overlay %>
    <%= yield %>
  </body>
</html>
